<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='usuarios.css') }}">
</head>
<body>
<header>
    <h1>Biblioteca</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash_messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</header>
    <h2>Lista de Usuários</h2>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios%}
            <tr>
                <td>{{ usuario[0] }}</td>
                <td>{{ usuario[1] }}</td>
                <td>{{ usuario[2] }}</td>
                <td>{{ usuario[3] }}</td>
                <td>
                    <a href="{{ url_for('editar_usuario', id=usuario[0]) }}">Editar</a>
                     <form action="{{ url_for('deletar_usuario', id=usuario[0]) }}" method="post" style="display: inline">
                         <button type="submit" class="bnt">Deletar</button>
                     </form>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>